In [36]:
import pandas as pd

In [37]:
data = pd.read_csv("application_record.csv", encoding = 'utf-8')

In [38]:
credit_record = pd.read_csv("credit_record.csv", encoding = 'utf-8')

In [39]:
display(data.head())

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [40]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

None

In [41]:
for x in data:
    my_column = data[x]
    display(my_column.value_counts(dropna=False))
    display(my_column.value_counts(dropna=False, normalize=True))

ID
7137299    2
7702238    2
7282535    2
7243768    2
7050948    2
          ..
5690727    1
6621262    1
6621261    1
6621260    1
6842885    1
Name: count, Length: 438510, dtype: int64

ID
7137299    0.000005
7702238    0.000005
7282535    0.000005
7243768    0.000005
7050948    0.000005
             ...
5690727    0.000002
6621262    0.000002
6621261    0.000002
6621260    0.000002
6842885    0.000002
Name: proportion, Length: 438510, dtype: float64

CODE_GENDER
F    294440
M    144117
Name: count, dtype: int64

CODE_GENDER
F    0.671384
M    0.328616
Name: proportion, dtype: float64

FLAG_OWN_CAR
N    275459
Y    163098
Name: count, dtype: int64

FLAG_OWN_CAR
N    0.628103
Y    0.371897
Name: proportion, dtype: float64

FLAG_OWN_REALTY
Y    304074
N    134483
Name: count, dtype: int64

FLAG_OWN_REALTY
Y    0.693351
N    0.306649
Name: proportion, dtype: float64

CNT_CHILDREN
0     304071
1      88527
2      39884
3       5430
4        486
5        133
7          9
9          5
12         4
6          4
14         3
19         1
Name: count, dtype: int64

CNT_CHILDREN
0     0.693344
1     0.201860
2     0.090944
3     0.012382
4     0.001108
5     0.000303
7     0.000021
9     0.000011
12    0.000009
6     0.000009
14    0.000007
19    0.000002
Name: proportion, dtype: float64

AMT_INCOME_TOTAL
135000.0    46879
157500.0    39768
180000.0    37912
112500.0    36979
225000.0    34130
            ...
151425.0        1
133461.0        1
265950.0        1
201150.0        1
36679.5         1
Name: count, Length: 866, dtype: int64

AMT_INCOME_TOTAL
135000.0    0.106894
157500.0    0.090679
180000.0    0.086447
112500.0    0.084320
225000.0    0.077823
              ...
151425.0    0.000002
133461.0    0.000002
265950.0    0.000002
201150.0    0.000002
36679.5     0.000002
Name: proportion, Length: 866, dtype: float64

NAME_INCOME_TYPE
Working                 226104
Commercial associate    100757
Pensioner                75493
State servant            36186
Student                     17
Name: count, dtype: int64

NAME_INCOME_TYPE
Working                 0.515564
Commercial associate    0.229747
Pensioner               0.172140
State servant           0.082512
Student                 0.000039
Name: proportion, dtype: float64

NAME_EDUCATION_TYPE
Secondary / secondary special    301821
Higher education                 117522
Incomplete higher                 14851
Lower secondary                    4051
Academic degree                     312
Name: count, dtype: int64

NAME_EDUCATION_TYPE
Secondary / secondary special    0.688214
Higher education                 0.267974
Incomplete higher                0.033863
Lower secondary                  0.009237
Academic degree                  0.000711
Name: proportion, dtype: float64

NAME_FAMILY_STATUS
Married                 299828
Single / not married     55271
Civil marriage           36532
Separated                27251
Widow                    19675
Name: count, dtype: int64

NAME_FAMILY_STATUS
Married                 0.683669
Single / not married    0.126029
Civil marriage          0.083300
Separated               0.062138
Widow                   0.044863
Name: proportion, dtype: float64

NAME_HOUSING_TYPE
House / apartment      393831
With parents            19077
Municipal apartment     14214
Rented apartment         5974
Office apartment         3922
Co-op apartment          1539
Name: count, dtype: int64

NAME_HOUSING_TYPE
House / apartment      0.898016
With parents           0.043499
Municipal apartment    0.032411
Rented apartment       0.013622
Office apartment       0.008943
Co-op apartment        0.003509
Name: proportion, dtype: float64

DAYS_BIRTH
-11707    150
-14178    121
-14400    116
-13482    112
-13274    112
         ...
-8207       1
-8286       1
-12793      1
-24592      1
-8590       1
Name: count, Length: 16379, dtype: int64

DAYS_BIRTH
-11707    0.000342
-14178    0.000276
-14400    0.000265
-13482    0.000255
-13274    0.000255
            ...
-8207     0.000002
-8286     0.000002
-12793    0.000002
-24592    0.000002
-8590     0.000002
Name: proportion, Length: 16379, dtype: float64

DAYS_EMPLOYED
 365243    75329
-218         262
-1678        251
-249         241
-978         240
           ...
-13529         1
-10223         1
-8917          1
-11429         1
-8105          1
Name: count, Length: 9406, dtype: int64

DAYS_EMPLOYED
 365243    0.171766
-218       0.000597
-1678      0.000572
-249       0.000550
-978       0.000547
             ...
-13529     0.000002
-10223     0.000002
-8917      0.000002
-11429     0.000002
-8105      0.000002
Name: proportion, Length: 9406, dtype: float64

FLAG_MOBIL
1    438557
Name: count, dtype: int64

FLAG_MOBIL
1    1.0
Name: proportion, dtype: float64

FLAG_WORK_PHONE
0    348156
1     90401
Name: count, dtype: int64

FLAG_WORK_PHONE
0    0.793867
1    0.206133
Name: proportion, dtype: float64

FLAG_PHONE
0    312353
1    126204
Name: count, dtype: int64

FLAG_PHONE
0    0.712229
1    0.287771
Name: proportion, dtype: float64

FLAG_EMAIL
0    391102
1     47455
Name: count, dtype: int64

FLAG_EMAIL
0    0.891793
1    0.108207
Name: proportion, dtype: float64

OCCUPATION_TYPE
NaN                      134203
Laborers                  78240
Core staff                43007
Sales staff               41098
Managers                  35487
Drivers                   26090
High skill tech staff     17289
Accountants               15985
Medicine staff            13520
Cooking staff              8076
Security staff             7993
Cleaning staff             5845
Private service staff      3456
Low-skill Laborers         2140
Secretaries                2044
Waiters/barmen staff       1665
Realty agents              1041
HR staff                    774
IT staff                    604
Name: count, dtype: int64

OCCUPATION_TYPE
NaN                      0.306010
Laborers                 0.178403
Core staff               0.098065
Sales staff              0.093712
Managers                 0.080918
Drivers                  0.059491
High skill tech staff    0.039422
Accountants              0.036449
Medicine staff           0.030828
Cooking staff            0.018415
Security staff           0.018226
Cleaning staff           0.013328
Private service staff    0.007880
Low-skill Laborers       0.004880
Secretaries              0.004661
Waiters/barmen staff     0.003797
Realty agents            0.002374
HR staff                 0.001765
IT staff                 0.001377
Name: proportion, dtype: float64

CNT_FAM_MEMBERS
2.0     233891
1.0      84492
3.0      77128
4.0      37356
5.0       5081
6.0        459
7.0        124
9.0          9
11.0         5
14.0         4
8.0          4
15.0         3
20.0         1
Name: count, dtype: int64

CNT_FAM_MEMBERS
2.0     0.533320
1.0     0.192659
3.0     0.175868
4.0     0.085179
5.0     0.011586
6.0     0.001047
7.0     0.000283
9.0     0.000021
11.0    0.000011
14.0    0.000009
8.0     0.000009
15.0    0.000007
20.0    0.000002
Name: proportion, dtype: float64

In [42]:
display(data.describe())

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS
count,4.385570e+05,438557.000000,4.385570e+05,438557.000000,438557.000000,438557.0,438557.000000,438557.000000,438557.000000,438557.000000
mean,6.022176e+06,0.427390,1.875243e+05,-15997.904649,60563.675328,1.0,0.206133,0.287771,0.108207,2.194465
std,5.716370e+05,0.724882,1.100869e+05,4185.030007,138767.799647,0.0,0.404527,0.452724,0.310642,0.897207
min,5.008804e+06,0.000000,2.610000e+04,-25201.000000,-17531.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.609375e+06,0.000000,1.215000e+05,-19483.000000,-3103.000000,1.0,0.000000,0.000000,0.000000,2.000000
50%,6.047745e+06,0.000000,1.607805e+05,-15630.000000,-1467.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,6.456971e+06,1.000000,2.250000e+05,-12514.000000,-371.000000,1.0,0.000000,1.000000,0.000000,3.000000
max,7.999952e+06,19.000000,6.750000e+06,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000

In [39]:
for column in data.columns:
    display(f"Column Name: {column}")
    display(data[column].value_counts(dropna = False, sort=True, normalize=True))
    display(f"Null Values: {data[column].isnull().values.any()}")

'Column Name: ID'

ID
7137299    0.000005
7702238    0.000005
7282535    0.000005
7243768    0.000005
7050948    0.000005
             ...
5690727    0.000002
6621262    0.000002
6621261    0.000002
6621260    0.000002
6842885    0.000002
Name: proportion, Length: 438510, dtype: float64

'Null Values: False'

'Column Name: CODE_GENDER'

CODE_GENDER
F    0.671384
M    0.328616
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: FLAG_OWN_CAR'

FLAG_OWN_CAR
N    0.628103
Y    0.371897
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: FLAG_OWN_REALTY'

FLAG_OWN_REALTY
Y    0.693351
N    0.306649
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: CNT_CHILDREN'

CNT_CHILDREN
0     0.693344
1     0.201860
2     0.090944
3     0.012382
4     0.001108
5     0.000303
7     0.000021
9     0.000011
12    0.000009
6     0.000009
14    0.000007
19    0.000002
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: AMT_INCOME_TOTAL'

AMT_INCOME_TOTAL
135000.0    0.106894
157500.0    0.090679
180000.0    0.086447
112500.0    0.084320
225000.0    0.077823
              ...
151425.0    0.000002
133461.0    0.000002
265950.0    0.000002
201150.0    0.000002
36679.5     0.000002
Name: proportion, Length: 866, dtype: float64

'Null Values: False'

'Column Name: NAME_INCOME_TYPE'

NAME_INCOME_TYPE
Working                 0.515564
Commercial associate    0.229747
Pensioner               0.172140
State servant           0.082512
Student                 0.000039
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: NAME_EDUCATION_TYPE'

NAME_EDUCATION_TYPE
Secondary / secondary special    0.688214
Higher education                 0.267974
Incomplete higher                0.033863
Lower secondary                  0.009237
Academic degree                  0.000711
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: NAME_FAMILY_STATUS'

NAME_FAMILY_STATUS
Married                 0.683669
Single / not married    0.126029
Civil marriage          0.083300
Separated               0.062138
Widow                   0.044863
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: NAME_HOUSING_TYPE'

NAME_HOUSING_TYPE
House / apartment      0.898016
With parents           0.043499
Municipal apartment    0.032411
Rented apartment       0.013622
Office apartment       0.008943
Co-op apartment        0.003509
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: DAYS_BIRTH'

DAYS_BIRTH
-11707    0.000342
-14178    0.000276
-14400    0.000265
-13482    0.000255
-13274    0.000255
            ...
-8207     0.000002
-8286     0.000002
-12793    0.000002
-24592    0.000002
-8590     0.000002
Name: proportion, Length: 16379, dtype: float64

'Null Values: False'

'Column Name: DAYS_EMPLOYED'

DAYS_EMPLOYED
 365243    0.171766
-218       0.000597
-1678      0.000572
-249       0.000550
-978       0.000547
             ...
-13529     0.000002
-10223     0.000002
-8917      0.000002
-11429     0.000002
-8105      0.000002
Name: proportion, Length: 9406, dtype: float64

'Null Values: False'

'Column Name: FLAG_MOBIL'

FLAG_MOBIL
1    1.0
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: FLAG_WORK_PHONE'

FLAG_WORK_PHONE
0    0.793867
1    0.206133
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: FLAG_PHONE'

FLAG_PHONE
0    0.712229
1    0.287771
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: FLAG_EMAIL'

FLAG_EMAIL
0    0.891793
1    0.108207
Name: proportion, dtype: float64

'Null Values: False'

'Column Name: OCCUPATION_TYPE'

OCCUPATION_TYPE
NaN                      0.306010
Laborers                 0.178403
Core staff               0.098065
Sales staff              0.093712
Managers                 0.080918
Drivers                  0.059491
High skill tech staff    0.039422
Accountants              0.036449
Medicine staff           0.030828
Cooking staff            0.018415
Security staff           0.018226
Cleaning staff           0.013328
Private service staff    0.007880
Low-skill Laborers       0.004880
Secretaries              0.004661
Waiters/barmen staff     0.003797
Realty agents            0.002374
HR staff                 0.001765
IT staff                 0.001377
Name: proportion, dtype: float64

'Null Values: True'

'Column Name: CNT_FAM_MEMBERS'

CNT_FAM_MEMBERS
2.0     0.533320
1.0     0.192659
3.0     0.175868
4.0     0.085179
5.0     0.011586
6.0     0.001047
7.0     0.000283
9.0     0.000021
11.0    0.000011
14.0    0.000009
8.0     0.000009
15.0    0.000007
20.0    0.000002
Name: proportion, dtype: float64

'Null Values: False'